body {
    background-color: #ecf0f3;
    scroll-behavior: smooth;
    font-family: 'Lexend Deca', sans-serif;
font-family: 'Manrope', sans-serif;
overflow: hidden;
}
/* for the container */
.container {
    /* border: 3px solid; */
    border-radius: 10%;
    width: 27em;
    margin: auto;
    margin-top: 10%;
    padding: 2%;
    height: 70vh;
    overscroll-behavior-y: smooth;
overflow-y: scroll;   
 overflow-x: hidden;
 
    background-color: #ecf0f3;
    /* box-sizing: border-box; */
    box-shadow: 14px 25px 20px #cbced1, -25px -14px 20px white;
}
/* hide and remove scrollbar space */
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent; 
}

.header-txt {
    margin-top: 7px;
}
.header span img{
    position: absolute;
    color: #424874;
    bottom: 3.7px;
    top: 1.5px;
     left: 290px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
.contents {
    display: flex;
    flex-direction: row;
    /* padding: 6px; */
    margin-top: 5px;
    margin-left:8px;
    justify-content: space-between;
    letter-spacing: 1px;
    /* border: 1px solid; */
    border-width: 100%;
    /* box-shadow: inset 5px 5px #ecf0f3, inset -5px -5px white; */
}

i {
    margin-left: 5%;
}

.text-header-date {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-text,
.date {
    flex-basis: 14.2em;
    padding: 10px;
    width: 15em;
    margin-bottom: 20px;
    margin-top: -35px;
    margin-left: 0.1px;
}

.txt-body {
    padding: 1px;
    margin-top: -45px;
    margin-left: 0.1px;
    /* max-width: 80%; */
}
.txt-body i{
    
}
.header{
    border: 1px solid #000;
    border-radius: 20px;
    position: relative;
    height: 7vh;
}
.header input{
    border:none;
    outline: none;
    position: absolute;
    top: 13px;
    padding: 5px;
/* padding:  .2rem .7rem; */
    text-align: left;
    /* margin-left:30px ;/ */
    background-color: inherit;
}
.header ::-webkit-input-placeholder{
    padding-left: 2em;
    font-size:17px ;
    font-family: 'roboto', sans-serif;
    color: #424874;
    position: absolute;
    /* left: 25px; */

    
}
.header span{
    position: relative;
    color: #424874;
    top: 10px;
    /* left: 8px; */
    width: 10px;
    height: 20px;
    
}
.header .icon{
    /* margin-right: 30px; */
}

img {
    border-radius: 50px;
}
.header .wrapper{
    /* border: 2px red solid */
}
/* input {
    border-radius: 10px;
    text-align: left;
    width: 100%;
    padding: 10px;
} */
.compose-btn p {
    /* position: absolute; */
    /* display:flex; */
/* border: 2px solid red; */
margin-right:10px ;
}
.compose-btn a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    background-color: aqua;
    /* padding: 15px; */
    margin-left: 23%;
    position: fixed;
    bottom: 90px;
    width: 10vw;
    /* margin-bottom: px; ////////////// */
    /* font-family: 'roboto'; */
    
    /* float: right; */
    /* position: fixed; */
    /* bottom: 10px; */
}
.compose-btn i{
    align-self: center;
    /* margin-left: 25px; */
}
.pen{
    display: none;
}
#pen a {
    width: 5vw;
    padding: 5px;

}
#pen a i{
    margin-left: 20px;
}

footer{
    display: flex;
    justify-content: space-around;
    height:2px;
}
footer a{
    text-decoration: none;
}
footer a i:hover{
border: 5px solid cyan;


}
.container2 {
    border: 3px black solid;
    border-left:none ;
    width: 25em;
    
    margin-top: 10%;
    margin-left:0;
    padding: 2%;
    height: 30em;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* make the side bar hidden when bar has not been clicked */
.hidden{
    display: none;
}